<h1>Editing Student</h1>

<% if current_user.role == 'admin' %>
    <%= render 'form', student: @student %>
<% elsif current_user.role == 'parent' %>
    <%= render 'parent_form', student: @student %>
<% end %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
