<div class="landing-view">
<div class="ui middle aligned grid">
  <div class="six wide column">
    <div class="ui medium right floated image">
        <%= image_tag "men.png" %>
    </div>
  </div>
  <div class="eight wide column">
  <div class="content">
  <h1 class="header">Welcome to KID KA$H</h1>
  <div class="description">
    <p>
        We are here to help your children develop financial literacy and 
        healthy spending habits. KID KA$H is your customizable bank that
        helps children develop good financial habits. It is a sort of sandbox
        bank where kids can get introduced to basic financial concepts.
    </p>
  </div>
</div>
  </div>
  </div>
  </div>

<div class="landing-view">
  <div class="ui middle aligned grid">
    <div class="eight wide column right floated ">
    <div class="content">
        <h1 class="header">Saving</h1>
        <div class="description">
            <p>
                To incentivize kids to be thoughtful about their spending, kids can transfer money from their 
                savings account into their checking account once per month.
            </p>
            <p>
                As the parent, you can choose your child’s monthly interest rate. As banks typically give 
                negligible interest rates for accounts with low balances, this feature allows parents to 
                motivate their children to save by giving a higher interest rate for their smaller balances.
            </p>
        </div>
        </div>
    </div>
    <div class="six wide column">
        <div class="ui medium left floated image">
        <%= image_tag "woman.png" %>
        </div>
    </div>
  </div>
</div>

<div class="landing-view">
  <div class="ui middle aligned grid">
    <div class="six wide column">
      <div class="ui medium right floated image">
          <%= image_tag "glasses.png" %>
      </div>
    </div>
  <div class="eight wide column">
    <div class="content">
        <h1 class="header">Whats Next</h1>
        <div class="description">
            <p>
                We are working towards integrating with Capital One to issue debit cards in the future that will 
                hold your child’s “checking” account balance. These cards will be linked directly with your account 
                and can be monitored and controlled by the parent.
            </p>
        </div>
    </div>
  </div>
  </div>
</div>