<div class="ui grid footer">

    <div class="three wide right aligned column">
        <h1 class="header">KID KA$H</h1>
    </div>

    <div class="two wide right aligned column">
        <h1 class="header">About</h1>
        <p><a href="#">Mission</a></p>
    </div>

    <div class="two wide right aligned column">
        <h1 class="header">FAQs</h1>
        <p><a href="#">Questions</a></p>
    </div>

    <div class="two wide right aligned column">
        <h1 class="header">Contact Us</h1>
    </div>

</div>