<div class="ui grid footer">

    <div class="three wide right aligned column">
        <h1 class="header">KID KA$H</h1>
    </div>

    <div class="two wide right aligned column">
        <a href="/"><h1 class="header">About</h1></a>
    </div>

</div>