<div class="ui secondary menu">
  <div class="item">
  <a href="/" class="brand-logo"><%= link_to "Home", dashboard_path %></a>
  </div>
  <div class="right item">
    <% if logged_in? %>
      <%= link_to "Logout", logout_path,  class:"item" %>

    <% else %>
      <%= link_to "Login", login_path, class:"item" %>
    <% end %>
  </div>
</div>

