<div class="ui secondary menu">
  <div class="item">
  
  <% if current_user == nil %>
    <a href="/" class="item white"><i class="child icon big"></i> <span style="font-size: 20px">KID KA$H</span></a>
  <% elsif current_user != nil && current_user.role == "Parent" %>
    <a href="/dashboard" class="item white"><i class="child icon big"></i> <span style="font-size: 20px">KID KA$H</span></a>
  <% elsif current_user != nil && current_user.role == "Child" %>
    <a href="/dashboard" class="item white"><i class="child icon big"></i> <span style="font-size: 20px">KID KA$H</span></a>  
  <% end %>
  </div>
  <div class="right item" style="font-size: 20px">
    <a href="/about/index#"><span class="item white">About</span></a>
    <% if logged_in? %>
      <%= link_to current_user.first_name, "/users/#{current_user.id}",  class:"item white" %>
      <%= link_to "Logout", logout_path,  class:"item white" %>

    <% else %>
      <%= link_to "Login", login_path, class: "item white" %>
    <% end %>
  </div>
</div>

