<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



<script>
    Highcharts.chart('container3', {
      title: {
        text: 'Children Registrations'
      },
      subtitle: {
        text: 'model data'
      },
      xAxis: {
        categories: ['Principles of Chess', 'Mastering Chess Tactics', 'The Tactics of Mikhail Tal', 'Nizmo-Indian Defense', 'Endgame Principles']
      },
      labels: {
        items: [{
          html: 'Total Registrations',
          style: {
            left: '50px',
            top: '18px',
            color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
          }
        }]
      },
      series: [{
        type: 'column',
        name: 'Mark',
        data: [3, 2, 1, 3, 4]
      }, {
        type: 'column',
        name: 'Alex',
        data: [2, 3, 5, 7, 6]
      }, {
        type: 'column',
        name: 'Rachel',
        data: [4, 3, 3, 9, 0]
      }, {
        type: 'spline',
        name: 'Average',
        data: [3, 2.67, 3, 6.33, 3.33],
        marker: {
          lineWidth: 2,
          lineColor: Highcharts.getOptions().colors[3],
          fillColor: 'white'
        }
      }, {
        type: 'pie',
        name: 'Registrations',
        data: [{
          name: 'Mark',
          y: 13,
          color: Highcharts.getOptions().colors[0] // Mark's color
        }, {
          name: 'Alex',
          y: 23,
          color: Highcharts.getOptions().colors[1] // Alex's color
        }, {
          name: 'Rachel',
          y: 19,
          color: Highcharts.getOptions().colors[2] // Rachel's color
        }],
        center: [100, 80],
        size: 100,
        showInLegend: false,
        dataLabels: {
          enabled: false
        }
      }]
    });
</script>


