<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>
    Highcharts.chart('container1', {
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: 'Camp Curriculum Breakdown'
      },
      subtitle: {
        text: 'model data'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
            style: {
              color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
          }
        }
      },
      series: [{
        name: 'Percentage of Camps',
        colorByPoint: true,
        data: [{
          name: 'Principles of Chess',
          y: 31.41,
          sliced: true,
          selected: true
        }, {
          name: 'Mastering Chess Tactics',
          y: 21.84
        }, {
          name: 'The Tactics of Mikhail Tal',
          y: 15.85
        }, {
          name: 'Nimzo-Indian Defense',
          y: 6.67
        }, {
          name: 'Endgame Principles',
          y: 24.23
        }]
      }]
    });
</script>



