
<div class="row">    
  <div class="col s18">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>Contacting Alex and Mark's Chess Camps</em></span>
        <p>Unfortunately, Alex and Mark's Chess Camps is not a real chess camp website, but rather a 
            sample project for programming students at Carnegie Mellon University. We 
            are sure that you wanted instruction for your children from the most talented 
            instructors on the planet, but that's how it goes sometimes.  If you are 
            bitterly disappointed <em>(and quite honestly, you should be)</em> and want to 
            grouse to someone, here's the contact information below.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Contact</span>
        <table cellpadding="3">
          <tr>
            <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
            <td>Kasdan Bakos</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
            <%= mail_to("kbakos@andrew.cmu.edu", "Future US Navy Warrior", encode: "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>619-694-9032</td>
          </tr>
        </table>
        <p >I am a student in information systems at Carnegie Mellon 
          University .&nbsp;&nbsp;&nbsp; 
          <em>... pretty neat huh.</em></p>
      </div>
    </div>
  </div>
</div>

