<div class="row">
  <% if !current_user.nil? %>
      <% if current_user.role?(:admin) %>
        <%= render :partial => "admin_dashboard" %>
      <% elsif current_user.role?(:parent) %>
        <%= render :partial => "parent_dashboard" %>
      <% elsif current_user.role?(:instructor) %>
        <%= render :partial => "instructor_dashboard" %>
      <% end %>
  <% else %>

  <% end %>


</div>