<link href="https://fonts.googleapis.com/css?family=Catamaran%7CQuicksand&display=swap" rel="stylesheet">

<div id="about_us">
    <h1>About Us</h1>
    <h2>Our inspiration</h2>
    <p>40% of Americans would be unable to pay an unexpected $400 expense with cash savings or a credit card,
    according to a recent Federal Reserve survey. When our team learned of this, 
    we decided to create Kid Kash to help tackle nationwide financial illiteracy.</p>
    <h2>Our team</h2>
    <p>Kid Kash was created by a team of Capital One interns based in New York during the summer of 2019.
    <div class="ui grid">
        <div class="five column row">
            <div class="column">
                <img src="/images/kas.png">
                <p>Kasdan Bakos</p>
            </div>
            <div class="column">
                <img src="/images/rachel.png">
                <p>Rachel Kang</p>
            </div>
            <div class="column">
                <img src="/images/abe.png">
                <p>Abraham Lee</p>
            </div>
            <div class="column">
                <img src="/images/maddy.png">
                <p>Madeleine Nakada</p>
            </div>
            <div class="column">
                <img src="/images/liz.png">
                <p>Elizabeth Yeoh-Wang</p>
            </div>
        </div>
    </div>
</div>