<link href="https://fonts.googleapis.com/css?family=Catamaran%7CQuicksand&display=swap" rel="stylesheet">

<div class="ui grid">
    <div class="four column centered row">
        <div class="column">
            <div id="avatar">Child Avatar</div>
            <div id="name">Rich Firebanks</div>
            <br>
            <div id="checking" class="container">
                <p id="label">Checking</p>
                <p id="balance">$100,000</p>
            </div>
            <div id="savings" class="container">
                <p id="label">Savings</p>
                <p id="balance">$100,000</p>
            </div>
            <br>
            <button class="button" id="view_child_details">View / Modify Details</button>
        </div>
        <div class="column">
            <div id="avatar">Child Avatar</div>
            <div id="name">Henrietta Firebanks</div>
            <br>
            <div id="checking" class="container">
                <p id="label">Checking</p>
                <p id="balance">$100,000</p>
            </div>
            <div id="savings" class="container">
                <p id="label">Savings</p>
                <p id="balance">$100,000</p>
            </div>
            <br>
            <button class="button" id="view_child_details">View / Modify Details</button>
        </div>
        <div class="column">
            <div id="create">(+) Create Child Account</div>
        </div>
    </div>
</div>