<!DOCTYPE html>
<html>
  <head>
    <title>KidKash</title>

    <%= render :partial => "partials/nav" %>
    <%= csrf_meta_tags %>
    
  </head>

  <body>
    <div  class="main">
      <%= yield %>
    </div>
  </body>
</html>
